version: "3.7"
volumes:
  postgres-data:
  redis-data:
networks:
  frontend:
  backend:
services:
  proxy:
    image: nginx:latest
    ports:
      - 8080:80
    volumes:
      - ./:/var/www/app
      - ./docker/nginx/nginx-site.conf:/etc/nginx/conf.d/default.conf
    networks:
      - frontend
      - backend
  php:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    image: entidadesgis-php:latest
    ports:
      - 5173:5173   
    volumes:
      - ./:/var/www/app
    networks:
      - backend
  postgres:
    image: postgres:latest
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: rl43s2of
      POSTGRES_USER: entidades
      POSTGRES_DB: entidades
      PGDATA: /var/lib/postgresql/data
    networks:
      - backend
  redis:
    image: redis:latest
    sysctls:
      - net.core.somaxconn=511
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    networks:
      - backend
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./docker/portainer/portainer-data:/data
    ports:
      - 9000:9000